<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.helloworld.root.mybatis.board.BoardMapper">
	<resultMap type="com.helloworld.root.board.dto.BoardDTO" id="board">
		<id property="boardId" column="board_id" />
		<result property="boardLocal" column="board_local" />
		<result property="userId" column="user_id" />
		<result property="title" column="board_title" />
		<result property="content" column="board_content" />
		<result property="day" column="board_day" />
		<result property="picture" column="board_picture" />
	</resultMap>
	
	<insert id="writeSave">
		insert into board(board_id,board_local,user_id,board_title,board_content,board_picture)
		values(board_seq.nextval,#{boardLocal},#{userId},#{title},#{content},#{picture})
	</insert>
</mapper>