<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.helloworld.root.mybatis.board.BoardMapper">
	<resultMap type="com.helloworld.root.board.dto.BoardDTO" id="board">
		<id property="boardId" column="board_id" />
		<result property="boardLocal" column="board_local" />
		<result property="userId" column="user_id" />
		<result property="title" column="board_title" />
		<result property="content" column="board_content" />
		<result property="day" column="board_day" />
		<result property="picture" column="board_picture" />
		<result property="hit" column="board_hit" />
	</resultMap>
	
	<resultMap type="com.helloworld.root.board.dto.BoardRecoDTO" id="recoDTO">
		<result property="boardId" column="board_id" />
		<result property="userId" column="user_id" />
		<result property="good" column="board_good" />
	</resultMap>
	
	<insert id="writeSave">
		insert into board(board_id,board_local,user_id,board_title,board_content,board_picture)
		values(board_seq.nextval,#{boardLocal},#{userId},#{title},#{content},#{picture})
	</insert>
	
	<insert id="writeInfo">
		insert into board_info (board_id, user_id) values (#{boardId},#{userId})
	</insert>
	
	<select id="boardList" resultMap="board">
		select B.* from(select rownum rn, A.* from
		(select * from board order by board_id desc)A)B
		where rn between #{start} and #{end}
	</select>
	
	<select id="boardCount" resultType="Integer">
		select count(*) from board
	</select>
	
	<select id="categoryCount" resultType="Integer">
		select count(*) from board where board_local=#{boardLocal}
	</select>
	
	<select id="categoryBoardList" resultMap="board">
		select B.* from(select rownum rn, A.* from
		(select * from board where board_local=#{boardLocal} order by board_id desc)A)B
		where rn between #{start} and #{end}
	</select>
	
	<select id="searchList" resultMap="board">
		select B.* from(select rownum rn, A.* from
		(select * from board where ${search} like '%${searchWord}%' order by board_id desc)A)B
		where rn between #{start} and #{end}
	</select>
	
	<select id="searchCount" resultType="Integer">
		select count(*) from board where ${search} like '%${searchWord}%'
	</select>
	
	<select id="contentView" resultMap="board">
		select * from board where board_id=#{boardId}
	</select>
	
	<select id="contentLike" resultType="Integer">
		select count(*) from board_info where board_id=#{boardId}
	</select>
	
	<select id="likeCount" resultType="Integer">
		select count(*) from board_info where board_id=#{boardId} and user_id=#{userId}
	</select>
	
	<insert id="insertLike">
		insert into board_info (board_id, user_id) values (#{boardId},#{userId})
	</insert>
	
	<delete id="deleteLike">
		delete from board_info where board_id=#{boardId} and user_id=#{userId}
	</delete>
	
	<select id="recoCount" resultType="Integer">
		select count(*) from board_reco where board_id=#{boardId} and user_id=#{userId}
	</select>
	
	<select id="goodNum" resultMap="recoDTO">
		select * from board_reco where board_id=#{boardId} and user_id=#{userId}
	</select>
	
	<insert id="insertReco">
		insert into board_reco (board_id, user_id, board_good) values (#{boardId},#{userId},#{good})
	</insert>
	
	<delete id="deleteReco">
		delete from board_reco where board_id=#{boardId} and user_id=#{userId}
	</delete>
	
	<update id="updateReco">
		update board_reco set board_good=#{good} where board_id=#{boardId} and user_id=#{userId}
	</update>
	
	<select id="recommendCount" resultType="Integer">
		select count(*) from board_reco where board_id=#{boardId}
	</select>
	
	<select id="goodNumCount" resultType="Integer">
		select count(*) from board_reco where board_id=#{boardId} and board_good=#{good}
	</select>
	
	<update id="upHit">
		update board set board_hit=board_hit+1 where board_id = #{boardId}
	</update>
	
	<delete id="delete">
		delete from board where board_id = #{boardId}
	</delete>
	
	<update id="modify">
		update board set board_local=#{boardLocal}, board_title=#{title}, board_content=#{content}, board_picture=#{picture} where board_id = #{boardId}
	</update>
</mapper>